/* variables */
:root{
    --amsBrandBlue:#017ac9;
    --amsBrandBlack:#222;

    --amsColorGreen:#4CAF50;
    --amsColorYellow:#FFEB3B;
    --amsColorOrange:#FF9800;
    --amsColorRed:#F44336;

    --amsGlobalPadding:10px;
    --amsGlobalRadius:4px;
}

#amsDataChart{
    width:100%;
    height:500px;
}